@font-face {
    font-family: 'badaboom';
    src: url(../assets/fonts/BADABOOM.TTF);
}
@font-face {
    font-family: 'command';
    src: url(../assets/fonts/PILOT_COMMAND.otf);
}
@font-face {
    font-family: 'game';
    src: url(../assets/fonts/MONTSERRAT.ttf);
}