/* A partir desta resolução começará a aplicar estas regras, aos poucos também irei fazendo atualizações sobre a responsividade */


@media (max-width: 1280px) {
    .header .title {
        font-size: 40px;
    }

    .character_selection .character_list {
        max-width: 330px;
    }

    .character_selection .character_list .character{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 767px) {
    body::before{
        background-image: url(../assets/images/bg-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
    }

    main {
        padding: 0 5px;
        justify-content: start;
    }

    .header .title {
        font-size: 22px;
        -webkit-text-stroke: 2px var(--cor-amarela-forte);
    }

    /* Escondendo os personagens grandes */
    .character_selection .selected_character {
        display: none;
    }

}

@media (max-width: 360px) {
    .header .title {
        font-size: 19px;
    }
}

